
.item-holderSP
{
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 200px);
    width: 95vw;
    margin-left: 5px;
    margin-right: 5px;
    position: fixed;
    bottom: 0;
    display: inline-block;
}

#search
{
    background-color: rgb(219, 219, 219);
}

#searchbar
{
    margin-top: -20px;
    justify-content: center;
    text-align: center;
}
