.overall
{
    overflow-x: hidden;
}

.chat-list-container {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center; /* Center horizontally */
}

.search-input {
  width: 80%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.user-suggestions {
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-suggestions li {
  padding: 8px;
  border-bottom: 1px solid #ccc;
  cursor: pointer; /* Change cursor to pointer on hover */
}

.user-suggestions li:hover {
  background-color: #f0f0f0; /* Change background color on hover */
}

.chat-page-container {
  display: flex;
  height: 100vh;
}

.left-side {
  width: 30%;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
}

.right-side {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.chat-messages {
  flex: 1;
  overflow-y: auto; /* Apply scroll only if content overflows */
  height: calc(100vh - 40px); /* Set a fixed height for the chat messages container */
  padding: 10px;
  background: linear-gradient(90deg, rgba(41, 109, 255, 0.7), rgba(114, 38, 255, 0.7));
  background-color: #000000;
}

.chat-message {
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.3);
}

.chat-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 70%;
  background-color: #f8f8f8;
  padding: 10px;
}

.chat-input input {
  width: calc(100% - 100px);
  margin-right: 10px;
}

.chat-input button {
  width: 80px;
}

.user-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 80%; /* Set a fixed width for the user list */
}

.usernames-container {
  width: 80%; /* Set the width of the container */
  margin-top: 20px; /* Add some space between the search input and the usernames */
}

.submit-button {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
}

.submit-button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.submit-button:focus {
  transform: translateY(-6px);
}